<div class="mt-4">
  <h3>CREATE</h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" id="desc" name="desc" />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">Video Id</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>
    <div class="mb-3">
      <label for="cute" class="form-label">Cuteness Level</label>
      <input type="text" class="form-control" id="cute" name="cute" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>