<div class="mt-4"><form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Keywords</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Type keywords"
        name="q"
      />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form></div>